@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@100;200;300;400;500;900&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FFEDED; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #092a5694;
  border-radius: 10px;
  border: 3px solid #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #092A56;
}

p {
    font-family: 'Roboto Slab', serif;
  }

  h1 {
    font-family: 'Teko', sans-serif;
  }
  
  h2 {
    font-family: 'Teko', sans-serif;
  }
  
  h3 {
    font-family: 'Teko', sans-serif;
  }
  
  html {
    width: 100%;
  } 
  

.body-blue {
    background-image: url(/photos/background/background-blue.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}

.front-exhibitions {
    position: relative;
    background-image: url(/photos/200kb/statue_200reresized.jpg);
    display: block;
    height: clamp(250px, 50vw, 500px);    
    width: 100%;
    background-size: cover;
    background-position: 50% 100%;
  } 
  
  .front-exhibitions h1 {
    position: absolute;
    height: 85%;
    display: flex;
    align-items: end;
    top: 0;
    color: white;
    font-size: clamp(45px, calc(5vw + 1vh), 85px);          
    width: 400px;
    margin-left: 10%;
  }

  .front-image img {
    opacity: 0%;
    height: 0px;
    width: 0px;
  }
  
  .front-exhibitions::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
  }
  
  .exhibitions-sec1 {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;

    .exhibitions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      aspect-ratio: 2.5 / 1;
      overflow-x: hidden;
      overflow-y: hidden;
  
      flex-wrap: wrap;
  
      .exhibitions-box {
        width: 100%;
        position: relative;
        text-align: center;
        margin-inline: 5px;
        flex: 1 1 calc(25% - 10px); 
        min-width: 100px;   
        aspect-ratio: 0.707;
        box-sizing: border-box;
    
        a {
          text-decoration: none;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            transition: transform .2s;
          }
          &:hover {

            img {
              transform: scale(1.1);
            }
          }
        }
    
        .exhibitions-box-text {
          width: 100%;
          position: absolute;
          color: white;
          top: 85%;
          left: 50%;
          transform: translate(-50%, -50%);
      
          h3 {
            font-size: 1.9vw;
      
            span {
              background: rgb(0, 0, 0);
              background: rgba(0, 0, 0, 0.6);
              padding: 10px;
              padding-left: 25px;
              padding-right: 25px;
              border-radius: 5px;
              backdrop-filter: blur(3px);
              font-size: clamp(12px, calc(1vw + 0.9vh), 25px);          
            }
          }
        }
      }
    }
  }

.exhibitions-sec2 {
  padding: 20px;
  box-sizing: border-box;
  margin-left: 8%;
  margin-right: 8%; 
  
  a {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    .exhibitions-biology {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      width: 100%;
      border-radius: 5px;
    
      span {
        width: 100%;
        border-radius: 5px;
    
        img {
          width: 100%;
          border-radius: 5px;
          max-height: 409px;
          min-height: 375px;
          object-fit: cover;
        }
      }
    
      .exhibition-biology-box {
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        color: black;
        text-decoration: none;
        height: 100%;
    
        img {
          padding: 2%;
          border-radius: 25px;
          height: 325px;
          width: 45%;
          object-fit: cover;
          align-self: center;
        }
      }
    
      .exhibition-biology-box-image {
        width: 100%;
    
        img {
          width: 100%;
          height: 325px;
          border-radius: 5px;
        }
      }
    
      .exhibitions-biology-text { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 92%;
        margin-left: 15px;
        height: 100%;
      
        h3 {
          font-size: 28px;
        }
      
        p {
          width: 100%;
          height: 100%;
          margin-right: 25px;
          backdrop-filter: blur(3px);
          height: 25%;
          animation: increasePadding 5s ease-in-out forwards;
        }
    
      
        span {
          display: none;
          margin-top: 15px;
          margin-bottom: 0px;
        }
      
        .exhibitions-biology-text-button {
          display: none;
          color: black;
          height: 50px;
          text-decoration: none;
        }
      }
    
    }

    &:hover {
      transition: 0.35s;
      transform: scale(1.05);

      .exhibitions-biology {

        transition: 0.35s;

        .exhibitions-biology-text {
          padding-bottom: 25px;

          h3 {
            padding-top: 13px;
          }

          p {
            display: none;
          }
        
          .exhibitions-biology-text-button {
            display: flex;
            color: black;
            border-bottom: solid 2px rgb(0, 0, 0);
            align-items: end;
            width: 90%;
            transition: 0.35s;
          }

          .exhibitions-biology-text-button::before {
            content: '';
            position: absolute;
            right: 0;
            left: 100%;
            top: 100.1%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid rgb(0, 0, 0);
            transition: right 0.5s;
          }
        }
      
      }
    }

  }
}

@media (max-width: 1000px){
  .exhibitions-sec1 {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;

    .exhibitions {
      overflow-x: scroll;
      flex-wrap: nowrap;
      height: 400px;

      .exhibitions-box{
        flex: 0 0 cacl(45% - 10px);
        min-width: calc(45% - 10px);
      }
    }
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    ::-webkit-scrollbar-track {
      background: #FFEDED; 
      border-radius: 10px;
    }
  }

  
}

@media (max-width: 1000px){
  .exhibitions-sec2 {    
    a {
  
      .exhibitions-biology {      
        .exhibitions-biology-text { 
          margin-left: 0px;
        }
      
      }
    }
  }
}

@media (max-width: 985px){
  .exhibitions-sec2 {    
    a {
  
      .exhibitions-biology {      
        .exhibitions-biology-text { 
        
          p {
            padding-bottom: 10%;
          }

          .exhibitions-biology-text-button {
            padding-bottom: 0%;
          }
        }
      
      }
    
    }
  }
}

@media (max-width: 825px){
  .exhibitions-sec2 {    
    a {
  
      .exhibitions-biology {      
        .exhibitions-biology-text { 
        
          p {
            padding-bottom: 15%;
            font-size: 14px;
          }
        }
      
      }
    
    }
  }
}

@media (max-width: 800px){
  .exhibitions-sec2 {    
    a {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
  
      .exhibitions-biology {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding-top: 350px;
        width: 100%;
        border-radius: 5px;
      
        span {
          display: none;
        }
      
        .exhibition-biology-box-image {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          max-height: 409px;
          min-height: 375px;
      
          img {
            width: 100%;
            border-radius: 5px;
            height: 100%;
            object-fit: cover;
          }
        }
      
        .exhibitions-biology-text { 
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          width: 75%;
          margin-left: 25px;
          height: 100%;
        
          h3 {
            font-size: 28px;
            color: white;
          }
        
          p {
            width: 100%;
            height: 100%;
            margin-right: 25px;
            backdrop-filter: blur(10px);
            background-color: rgba(0, 0, 0, 0.498);
            border-radius: 5px;
            padding: 5px;
            padding-bottom: 0%;
            height: 25%;
            color: white;
          }
        
          .exhibitions-biology-text-button {
            display: none;
            color: black;
            height: 35px;
            text-decoration: none;
          }
        }
      
      }
  
      &:hover {
        transition: 0.35s;
        transform: scale(1.05);
  
        .exhibitions-biology {
  
          transition: 0.35s;
  
          .exhibitions-biology-text {
            padding-bottom: 25px;
  
            h3 {
              padding-top: 13px;
            }
  
            p {
              display: none;
            }
          
            .exhibitions-biology-text-button {
              display: flex;
              color: rgb(255, 255, 255);
              border-bottom: solid 2px rgb(255, 255, 255);
              align-items: end;
              width: 20%;
              margin-left: 80%;
              transition: 0.35s;
            }
  
            .exhibitions-biology-text-button::before {
              content: '';
              position: absolute;
              right: 0;
              left: 100%;
              top: 100.1%;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-top: 7px solid transparent;
              border-bottom: 7px solid transparent;
              border-left: 7px solid rgb(255, 255, 255);
              transition: right 0.5s;
            }
          }
        
        }
      }
  
    }
  }
}
