.front-explore {
    position: relative;
    background-image: url(/photos/200kb/statue_200reresized.jpg);
    display: block;
    height: clamp(250px, 50vw, 500px);    
    width: 100%;
    background-size: cover;
    background-position: 50% 100%;
  } 
  
  .front-explore h1 {
    position: absolute;
    height: 85%;
    display: flex;
    align-items: end;
    top: 0;
    color: white;
    font-size: clamp(45px, calc(5vw + 1vh), 85px);          
    width: 400px;
    margin-left: 10%;
  }

  .front-image img {
    opacity: 0%;
    height: 0px;
    width: 0px;
  }
  
  .front-explore::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
  }

  .explore-sec1 {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
  }
  
  .explore-sec1 h2 {
    font-size: 35px;
    font-weight: bolder;
  }
  
  .explorations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    padding-top: 2.5%;
    aspect-ratio: 2.5 / 1;
    overflow-x: hidden;
    overflow-y: hidden;

    flex-wrap: wrap;
  }
  
  .explore-box {
    width: 100%;
    position: relative;
    text-align: center;
    margin-inline: 5px;
    flex: 1 1 calc(25% - 10px); 
    min-width: 100px;   
    aspect-ratio: 0.707;
    box-sizing: border-box;
  }
  
  .explore-box a {
    text-decoration: none;
  }
  
  .explore-box-text {
    width: 100%;
    position: absolute;
    color: white;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .explore-box-text h3 {
    font-size: clamp(12px, calc(1vw + 0.9vh), 25px);   
  }
  
  .explore-box-text h3 span {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    font-size: clamp(12px, calc(1vw + 0.9vh), 25px);   
  }
  
  .explore-box a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform .2s;
  }

  .explore-box:hover {
    transform: scale(1.07);
    transition: 0.25s;
  }
  
  .explore-sec2 {
    margin-top: 100px;
    margin-bottom: 650px;
    margin-left: 10%;
    margin-right: 10%;

    h2 {
      font-size: 35px;
      font-weight: bolder;
      margin-bottom: 0px;
    }

    p {
      font-size: 20px;
      margin-top: 0px;
    }

    span {
      font-weight: bold;
    }
  }
      
  .explore-exhibitions {
    color: white;
    text-decoration: none;
    height: 500px;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;

    .explore-exhibitions-box {
      background-image: url(/photos/200kb/elephant_200.webp);
      height: 500px;
      width: 80%;
      border-radius: 5px;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      position: absolute;

      margin-bottom: 0px;
      padding-bottom: 0px;

      .exhibition-box-text {

        width: 95%;
        height: 100%;
        position: absolute;
        top: 0;

        display: flex;
        align-items: end;


        p {
          position: absolute;
          display: flex;
          align-items: end;
          justify-content: left;
          transition: 0.35s;
          height: 95%;
          color: white;
          font-size: clamp(17px, calc(1vw + 0.9vh), 26px);   
          margin-left: 4%;
          top: 0;
        }
    
      }
    }

    .explore-exhibitions-box::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.808));
      border-radius: 5px;
    }

    img {
      opacity: 0;
      width: 0px;
      height: 0px;
    }

    &:hover {
      transition: ease-in-out 0.25s;

      .explore-exhibitions-box::before {

        transition: ease-in-out 0.25s;

        background-image: linear-gradient(to bottom, rgba(0, 0, 2, 0.364), rgba(0, 0, 0, 0.808));
        backdrop-filter: blur(3px);
      }

      .exhibition-box-text {

        transition: ease-in-out 0.25s;
        justify-content: right;

        p {
          border-bottom: solid 2px rgb(255, 255, 255);
          justify-content: right;
          transition: 0.45s;
        }
  
        p::before {
          content: '';
          position: absolute;
          right: 0;
          left: 100%;
          top: 100.1%;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid rgb(255, 255, 255);
          transition: right 0.5s;
        }
      }
    }

  }
    
  
  @media (max-width: 800px) {
    .explore-sec2 {
      margin-bottom: 600px;
    }
  }