
footer {
    background-color: #C74C55;
    width: 100%;
    left: 0px;
    bottom: 0px;
    margin-top: 125px;
    padding-bottom: 50px;
  }
  
  .footer-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .footer-container h3 {
    font-size: clamp(18px, calc(1vw + 0.7vh), 30px);          
    line-height: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .footer-container p {
    font-size: clamp(15px, calc(1vw + 0.7vh), 20px);          
  }
  
  .footer-container a {
    font-size: clamp(15px, calc(1vw + 0.7vh), 20px);          
  }
  
  .footer-openinghours {
    color: white;
    padding-left: 10%;

    h3 {
      font-size: clamp(22px, calc(2vw + 0.9vh), 35px);          
    }
  }
  
  .footer-openinghours span {
    opacity: 60%;
    text-decoration: line-through;
  }
  
  .days-time {
    font-size: clamp(15px, calc(1vw + 0.7vh), 20px);          
    display: flex;
    padding-bottom: 20px;
  }
  
  .days {
    line-height: 10px;
  }
  
  .time {
    line-height: 10px;
    margin-left: 10px;
  }
  
  .aboutus {
    list-style: none;
  }
  
  .aboutus a {
    color: white;
    text-decoration: none;
  }
  
  .aboutus ol {
    margin: 0px;
    padding: 0px;
  }
  
  .aboutus ol li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 43px;
  }
  
  .aboutus ol li a {
    line-height: 10px;
  }
  
  .contactus {
    padding-right: 17%;
    list-style: none;
  }
  
  .contactus a {
    color: white;
    text-decoration: none;
  }
  
  .contactus ol {
    margin: 0px;
    padding: 0px;
  }
  
  .contactus li {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 43px;
  }
  
  .contactus li a {
    line-height: 10px;
  }
  
  .aboutus ol li a:hover, .contactus ol li a:hover {
    font-weight: bold;
    transition: 0.2s;
    transform: scale(1.1);
  }
  
  .aboutus h3:hover, .contactus h3:hover {
    border-bottom: 3px solid white;
    transition: 0.3s;
    margin-bottom: -3px;
  }


  @media (max-width: 550px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 20%;
      }

      .footer-openinghours {
        padding: 0px;
        margin: 0px;

      }

      .aboutus {
        margin: 0px;
        padding: 0px;
      }

      .contactus {
        padding: 0px;
        margin: 0px;

      }
  }


