@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@100;200;300;400;500;900&display=swap');

p {
    font-family: 'Roboto Slab', serif;
  }
  
  h1 {
    font-family: 'Teko', sans-serif;
  }
  
  h2 {
    font-family: 'Teko', sans-serif;
  }
  
  h3 {
    font-family: 'Teko', sans-serif;
  }
  
  html {
    width: 100%;
  }


  .body-pink {
    background-image: url(/photos/background/background-pink.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
  }

  
.front-mainpage {
    position: relative;
    background-image: url(/photos/200kb/museum-desktop_200.webp);
    display: block;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
  } 
  
  .front-mainpage h1 {
    font-weight: 400;
    position: absolute;
    color: white;
    font-size: 95px;
    width: 50px;
    margin-left: 10%;
    margin-top: 150px;
    line-height: 95px;
  }
  
  .front-mainpage h1 span {
    font-weight: 800;
  }
  
  .front-image img {
    opacity: 0%;
    height: 0px;
    width: 0px;
  }
  
  .front-mainpage::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.661));
  }
  
  .mainpage-content1 {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 445px;
    margin-top: 69px;
    margin-bottom: 50px;
    gap: 15px;
  }

  .quickfind {
    width: 100%;
    height: 525px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;

    .content-explore, .content-exhibitions, .content-visit {
      border-radius: 5px;
      width: 30%;
      height: 525px;
      text-decoration: none;
      color: black;
    }
  
    .content-explore {
      background-color: #FFE88C;
    }
  
    .content-exhibitions {
      background-color: #B5D9FB;
    }
  
    .content-visit {
      background-color: #F4757E;
    }
    
    .content-visit img, .content-exhibitions img, .content-explore img  {
      padding-top: 25px;
      padding-top: 7%;
      padding-left: 7%;
      padding-right: 7%;
      width: 87%;
      height: 47%;
      border-radius: 5px;
      object-fit: cover;
    }
    
    .content-visit-text, .content-exhibitions-text, .content-explore-text {
      height: 125px;
    }
    
    .content-visit-text p, .content-exhibitions-text p, .content-explore-text p {
      margin-left: 9%;
      margin-right: 10px;
      font-size: 16px;
    }
    
    .content-visit span {
      font-weight: bold;
    }
    
    .explore-link {
      position: relative;
      color: black;
      width: 100%;
      height: 50px;
      margin-top: 7%;
      display: flex;
      align-items: end;
      margin-left: 9%;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Teko', sans-serif;
      font-size: 20px;
    }
    
    .content-visit:hover, .content-exhibitions:hover, .content-explore:hover {
      transition: 0.25s;
      transform: scale(1.05);
    }
  }
  
  .mainpage-content1 h2 {
    left: 5000px;
    position: absolute;
  }
  
  .mainpage-content2 {
    width: 100%;
    margin-bottom: 69px;
    margin-top: 69px;
  }
  
  .mainpage-biomed-content {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 0px;

    .mainpage-biomed {
      width: 100%;
      height: 375px;
      display: flex;
      text-decoration: none;
      color: black;
  
      &:hover {
        transform: scale(1.05);
        transition: 0.25s;
      }
  
      span {
        display: flex;
        justify-content: center;
        width: 100%;
    
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }

    .mainpage-biomed h3 {
      font-family: 'Teko', sans-serif;
      position: absolute;
      margin-left: 2%;
      font-size: 40px;
      margin-top: 20px;
    }
    
    .mainpage-biomed p {
      font-family: 'Teko', sans-serif;
      display: none;
      position: absolute;
      margin-left: 2%;
      font-size: 40px;
      width: 350px;
      margin-top: 20px;
      margin-bottom: 0px;
    }
    
    .bio-text {
      width: 90%;
      position: relative;
      top: 0;
      margin-left: 2%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      color: black;
      text-decoration: none;
      margin-bottom: 0px;
      height: 0;

      p {
        position:absolute;
        margin-top: -75px;
        display: flex;
        align-items: end;
        font-weight: normal;
        font-size: 21px;
        width: 500px;
        height: 50px;
        margin-bottom: 0px;
      }

      .bio-link {
        text-decoration: none;
        color: black;
        margin-top: -75px;
        display: flex;
        justify-content: center;
        align-items: end;
        font-weight: normal;
        font-size: 17px;
        height: 50px;
        width: 250px;
        margin-bottom: 0px;
      }
    }

  }
  
  .mainpage-content-sec2 {
    display: inline-flex;
    width: 100%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    gap: 50px;
  }
  
  .mainpage-news {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(/photos/200kb/scientific-2040795_1280_200.webp);
    height: 490px;
    width: 50%;
    border-radius: 5px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .mainpage-news img {
    opacity: 0%;
    height: 0px;
    width: 0px;
  }
  
  .news-text {
    color: white;
    margin-left: 5%;
  }
  
  .news-text h3 {
    color: white;
    font-size: 33px;
  }
  
  .news-text p {
    width: 100%;
    font-size: 20px;
    color: white;
    font-style: italic;
  }
  
  .news-text a {
    margin-top: 150px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    font-family: 'Roboto Slab', serif;
  }
  
  .mainpage-location {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0)), url(/photos/200kb/exhibition-1863344_1920_200.webp);
    height: 490px;
    width: 27%;
    border-radius: 5px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
  }
  
  .mainpage-location img {
    opacity: 0%;
    height: 0px;
    width: 0px;
  }
  
  .location-text {
    margin-left: 5%;
  }
  
  .location-text h3 {
    color: black;
    font-size: 33px;
    width: 200px;
    font-family: 'Teko', sans-serif;
  }
  
  .location-text a {
    font-family: 'Roboto Slab', serif;
    margin-top: 260px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
  }
  
  .news-text a:hover {
    border-bottom: 2px solid white;
    transition: 0.25s;
  }
  