@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@100;200;300;400;500;900&display=swap');

p {
    font-family: 'Roboto Slab', serif;
  }
  
  h1 {
    font-family: 'Teko', sans-serif;
  }
  
  h2 {
    font-family: 'Teko', sans-serif;
  }
  
  h3 {
    font-family: 'Teko', sans-serif;
  }
  
  html {
    width: 100%;
  }


  .body-pink {
    background-image: url(/photos/background/background-pink.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
  }

  
.front-mainpage {
    position: relative;
    background-image: url(/photos/200kb/museum-desktop_200.webp);
    display: block;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
} 

.front-mainpage h1 {
  font-weight: 400;
  position: absolute;
  color: white;
  font-size: clamp(55px, calc(2.5vw + 7vh), 95px);          
  width: 50px;
  margin-left: 10%;
  margin-top: 150px;
  line-height: 95px;
}

.front-mainpage h1 span {
  font-weight: 800;
}

.front-image img {
  opacity: 0%;
  height: 0px;
  width: 0px;
}

.front-mainpage::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.661));
}

.mainpage-content1 {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 445px;
  margin-top: 69px;
  margin-bottom: 50px;
  gap: 15px;
}

.quickfind {
  width: 100%;
  height: 525px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;

  .content-explore, .content-exhibitions, .content-visit {
    border-radius: 5px;
    width: 30%;
    height: 525px;
    text-decoration: none;
    color: black;
  }

  .content-explore {
    background-color: #FFE88C;
  }

  .content-exhibitions {
    background-color: #B5D9FB;
  }

  .content-visit {
    background-color: #F4757E;
  }
  
  .content-visit img, .content-exhibitions img, .content-explore img  {
    padding-top: 25px;
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    width: 87%;
    height: 47%;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .content-visit-text, .content-exhibitions-text, .content-explore-text {
    height: 125px;
  }
  
  .content-visit-text p, .content-exhibitions-text p, .content-explore-text p {
    margin-left: 9%;
    margin-right: 10px;
    font-size: clamp(9px, calc(1vw + 0.7vh), 16px);          
  }
  
  .content-visit span {
    font-weight: bold;
  }
  
  .explore-link {
    position: relative;
    color: black;
    width: 100%;
    height: 50px;
    margin-top: 7%;
    display: flex;
    align-items: end;
    margin-left: 9%;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
    font-size: clamp(10px, calc(1vw + 0.7vh), 20px);          
  }
  
  .content-visit:hover, .content-exhibitions:hover, .content-explore:hover {
    transition: 0.25s;
    transform: scale(1.05);
  }
}

.mainpage-content1 h2 {
  left: 5000px;
  position: absolute;
}

.mainpage-content2 {
  width: 100%;
  margin-bottom: 69px;
  margin-top: 69px;
} 
.mainpage-biomed-content {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 0px;

    .mainpage-biomed {
      width: 100%;
      height: 375px;
      min-height: 375px;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: black;
      position: relative;

      span {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      min-height: 375px;
      border-radius: 5px;
      object-fit: cover;
    }
    .bio-header {
      font-family: 'Teko', sans-serif;
      position: absolute;
      margin-left: 2%;
      padding: 0px;
      margin-top: 20px;
      width: 100%;

      h3 {
        margin: 0px;
        padding: 0px;
        font-size: clamp(22px, calc(2.5vw + 0.9vh), 35px);
      }

      .bio-header-hover-title {
      font-family: 'Teko', sans-serif;
      display: none;
      position: absolute;
      margin-left: 2%;
      font-size: clamp(22px, calc(2.5vw + 0.9vh), 35px);
      width: 100%;
      margin: 0px;
      padding: 0px;
      }
    }
    .bio-text {
      font-family: 'Teko', sans-serif;
      width: 100%;
      height: 88%;
      padding: 0px;
      margin: 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
  
      p {
        margin-left: 2%;
        margin-right: 2%;
        width: 100%;
        max-width: 890px;
        font-family: 'Teko', sans-serif;
        font-size: clamp(15px, calc(1.2vw + 0.9vh), 25px);          
        height: 50px;
        margin-bottom: 0px;
      }
    span {
      font-family: 'Teko', sans-serif;
      display: flex;
      justify-content: center;
      align-items: end;
      height: 50px;
      margin-right: 2%;
      margin-left: 4%;
      width: 27%;
      font-size: clamp(15px, calc(1vw + 0.9vh), 25px);          
      text-decoration: none;
      font-weight: 550;
      color: black;
    }
    }
  }
}
.mainpage-biomed:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;

  .bio-header {
    h3 {
      display: none;
      transition: ease-in-out 0.5s;
    }

  .bio-header-hover-title {
    display: block;
    transition: ease-in-out 0.5s;
  }
  }

  .bio-text {

    p {
      transition: ease-in-out 0.5s;
      display: none;
    }
    span {
      margin-left: 75%;
      transition: ease-in-out 0.5s;
      width: 20%;
      border-bottom: 3px solid black;
    }
  }
}
.mainpage-content-sec2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  height: 490px;
}
.mainpage-news {
  height: 100%;
  width: 55%;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  position: relative;

  img {
    opacity: 100%;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }

  .news-textbox {
    color: white;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.396);
    font-family: 'Teko', sans-serif;
  
    h3 {
      font-size: clamp(22px, calc(2.5vw + 0.9vh), 45px);          
      width: 75%;
      margin-right: 25%;    
    }
  
    .news-text {
      width: 90%;
      margin-left: 4%;
      position: absolute;
      
      p {
        font-size: clamp(9px, calc(1.5vw + 0.9vh), 20px);          
        font-style: italic;
      }
    }
  
    .news-link {
      font-family: 'Teko', sans-serif;
      position: absolute;
      margin-bottom: 25px;
      margin-left: 4%;
      margin-top: 425px;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
.mainpage-news:hover {
  transition: 0.35s;
  transform: scale(1.05);

  .news-textbox {
    transition: 0.35s;
    background-color: rgba(0, 0, 0, 0.75);
    .news-link {
      transform: scale(1.2);
      transition: ease-in-out 0.2s;
      border-bottom: solid 2px rgb(255, 255, 255);
      width: 100px;
    }
  }
}

.mainpage-location {
  height: 100%;
  width: 42%;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  position: relative;

  img {
    opacity: 100%;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }

  .location-textbox {
    color: black;
    text-decoration: none;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.55);
  
    .location-text {
      width: 100%;
      margin-left: 4%;
  
      h3 {
        font-size: clamp(22px, calc(2.5vw + 0.9vh), 45px);          
        width: 75%;
        margin-right: 25%;
      }
  
      .location-link {
        margin-bottom: 25px;
        margin-left: 4%;
        text-decoration: none;
        font-size: 20px;
        margin-top: 255px;
        font-weight: bold;
        font-family: 'Teko', sans-serif;
      }
    }
  }
}
.mainpage-location:hover {
  transition: 0.35s;
  transform: scale(1.05);

  .location-textbox { 
    transition: 0.35s;
    background-color: rgba(255, 255, 255, 0.75); 
    .location-text {  
      .location-link {
        transform: scale(1.2);
        transition: ease-in-out 0.2s;
        border-bottom: solid 2px black;
        width: 100px;
      }
    }
  }
}