.front-kids {
    position: relative;
    background-image: url(/photos/200kb/kidssitting_1_200.webp);
    display: block;
    height: clamp(250px, 50vw, 500px);    
    width: 100%;
    background-size: cover;
    background-position: 50% 25%;
  }  
  
  .front-kids h1 {
    position: absolute;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;  
    top: 0;
    color: white;
    font-size: clamp(45px, calc(4vw + 1.8vh), 85px);  
    width: 400px;
    margin-left: 10%;
  }

  .front-image img {
    opacity: 0%;
    height: 0px;
    width: 0px;
  }
  
  .front-kids::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
  }

  .content-kids-sec1 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 75px;
  }
  
  .content-kids-sec1 h2 {
    position: absolute;
    left: 50000px;
  }
  
  .kids-textbox1 { 
    width: 100%;
    height: 100%;
    background-color: #F4757E;
    color: white;
    min-height: 170px;
    border-radius: 5px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .kids-textbox1 p {
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: clamp(12px, calc(0.9vw + 0.9vh), 17px);          
    padding-top: 15px;
  }
  
  .kids-textbox1 a {
    position: absolute;
    color: white;
    text-decoration: none;
    display: flex;
    margin-left: 2.5%;
    font-weight: bold;
    font-size: clamp(12px, calc(0.9vw + 0.9vh), 20px);          
    width: 100%;
    margin-top: 130px;
    font-family: 'Roboto Slab', serif;
  }
  
  .kids-textbox1 a:hover {
    border-bottom: 2px solid white; 
    transition: 0.25s;
  }
  
  .kids-mammoth {
    background-image: url(/photos/200kb/mammoth-1257288_1920_200.webp);
    height: 500px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .kids-mammoth::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.808));
    border-radius: 5px;
  }
  
  .kids-mammoth img {
    opacity: 0%;
    height: 0px;
    width: 0px;
  }
  
  .kids-mammoth-textbox { 
    position: absolute;
    height: 100%;
    width: 80%;
    top: 65%;
    color: white;
    font-size: clamp(12px, calc(0.9vw + 0.9vh), 17px);          
    margin-left: 2.5%;
  }
  
  .kids-mammoth-textbox span {
    font-weight: bolder;
  }
  
  .kids-textbox2 {
    background-color: #F4757E;
    color: white;
    height: 325px;
    border-radius: 5px;
  }
  
  .kids-club { 
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .kids-club img {
    height: 300px;
    width: 90%;
    padding: 2.5%;
    object-fit: cover;
  }
  
  .kids-club p {
    font-size: clamp(12px, calc(0.9vw + 0.9vh), 17px);          
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 100%;
  }
  
  .kids-club span {
    font-weight: bold;
  }
  
  .kids-textbox3 {
    background-color: #FCDD62;
    height: 325px;
    border-radius: 5px;
    margin-bottom: 75px;
  }
  
  .kids-holiday { 
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .kids-holiday img {
    height: 300px;
    width: 90%;
    padding: 2.5%;
    object-fit: cover;
  }
  
  .kids-holiday-textbox {
    color: black;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .kids-holiday p {
    display: flex;
    flex-direction: row;
    font-size: clamp(12px, calc(0.9vw + 0.9vh), 17px);          
    margin-left: 1.5%;
    margin-right: 2.5%;
  }
  
  .kids-holiday span {
    margin-left: 1.5%;
    padding-right: 5%;
  }
  
  .kids-holiday-textbox a {
    text-decoration: none;
    display: flex;
    margin-top: 10%;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #002F75;
    color: #002F75;
    border-radius: 99px;
    width: 80px;
    font-weight: bolder;
  }
  
  .kids-holiday-textbox a:hover {
    background-color: #002F75;
    color: white;
    transition: 0.25s;
  }

  @media (max-width: 1100px) {
    .kids-holiday img {
      display: none;
    }

    .kids-holiday-textbox {
      margin-left: 5%;
    }

  }

  @media (max-width: 900px) {

    .kids-club { 
      margin-left: 3%;
    }
    
    .kids-club img {
      display: none;
    }

  }