
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@100;200;300;400;500;900&display=swap');

p {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Teko', sans-serif;
}

h2 {
  font-family: 'Teko', sans-serif;
}

h3 {
  font-family: 'Teko', sans-serif;
}

html {
  width: 100%;
}

.body-pink {
  background-image: url(/photos/background/background-pink.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

.body-blue {
  background-image: url(/photos/background/background-blue.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

.body-yellow {
  background-image: url(/photos/background/background-yellow.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

header {
  z-index: 9999;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #092A56;
  height: 90px;
  transition: 0.3s;
  font-family: 'Teko', sans-serif;
}

header .logo {
  display: block;
  width: 50px;
  margin-left: 10%;
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
}

header .logo span {
  font-weight: 800;
}

header .logo a {
  color: white;
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8%;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 40px 25px;
  font-size: 23px;
  line-height: 1;
  transition: 0.3s;
}

.menu li a:hover {
  box-shadow: 0 -5px 0px rgb(255, 255, 255) inset, 500px 0 0 rgba(130, 182, 255, 0.2) inset;
  padding-top: 25px;
  padding-bottom: 42px;
}

.menu li a.active {
  box-shadow: 0 -5px 0px rgb(255, 255, 255) inset, 500px 0 0 rgba(0, 106, 255, 0.2) inset;
  padding-top: 25px;
  padding-bottom: 42px;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger:before, .hamburger:after {
  content: '';
  position: absolute;
  height: 4px;
  right: 0;
  background: white;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;
  width: 30px;
}

.hamburger:after {
  top: 10px;
  width: 30px;
}

.hamburger-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger, .hamburger-menu {
  display: none;
}

nav input:checked ~ .hamburger {
  background: transparent;
}

nav input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

nav input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

nav input:checked ~ .menu {
  right: 0;
}

@media (max-width: 1350px) { 
  header .logo {
    margin-left: 5%;
  }
  header nav {
    margin-right: 3%;
  }
}

@media (max-width: 950px) {
  .hamburger, .hamburger-menu {
    display: block;
  }
  header {
    padding: 10px 0px;
  }
  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 93px;
    right: -400px;
    background-image: url(/photos/background/menubackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 100%;
    padding-left: 0px;
  }
  .menu li {
    width: 100%;
  }
  .menu li a {
    padding: 30px;
    font-size: 24px;
    font-weight: bold;
  }
}


.front-mainpage {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/200kb/museum-desktop_200.webp);
  display: block;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
} 

.front-mainpage h1 {
  font-weight: 500;
  position: absolute;
  color: white;
  font-size: 65px;
  width: 50px;
  margin-left: 10%;
  margin-top: 200px;
}

.front-mainpage h1 span {
  font-weight: 800;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.front-image img {
  opacity: 0%;
  height: 0px;
  width: 0px;
}

.front-mainpage::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.mainpage-content1 {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 445px;
  margin-top: 69px;
  gap: 15px;
}

.content-explore {
  background-color: #FFE88C;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10px;
  width: 1500px;
  min-width: 275px;
}

.content-exhibitions {
  background-color: #B5D9FB;
  border-radius: 5px;
  height: 100%;
  width: 1500px;
  min-width: 275px;
  margin-right: 10px;
}

.content-visit {
  background-color: #F4757E;
  border-radius: 5px;
  width: 1500px;
  min-width: 275px;
  margin-right: 10%;
  margin-left: 10px;
  margin-top: 0px;
}

.content-visit img, .content-exhibitions img, .content-explore img  {
  padding-top: 25px;
  padding-top: 7%;
  padding-left: 7%;
  padding-right: 7%;
  width: 87%;
  height: 47%;
  object-fit: cover;
}

.content-visit-text, .content-exhibitions-text, .content-explore-text {
  height: 125px;
}

.content-visit-text p, .content-exhibitions-text p, .content-explore-text p {
  margin-left: 25px;
  margin-right: 10px;
  font-size: 16px;
}

.content-visit span {
  font-weight: bold;
}

.content-visit a, .content-exhibitions a, .content-explore a {
  position: relative;
  color: black;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  font-family: 'Teko', sans-serif;
}

.content-visit a:hover, .content-exhibitions a:hover, .content-explore a:hover {
  border-bottom: 2px solid black;
}

.mainpage-content2 {
  width: 100%;
  margin-bottom: 69px;
  margin-top: 69px;
}

.mainpage-biomed-content {

  margin-left: 10%;
  margin-right: 10%;
}

.mainpage-biomed {
  display: flex;
}

.mainpage-biomed span {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainpage-biomed span a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainpage-biomed span a img {
  width: 100%;
  border-radius: 5px;
  max-height: 409px;
  min-height: 350px;
  object-fit: cover;
}

.mainpage-biomed h3 {
  font-family: 'Teko', sans-serif;
  position: absolute;
  margin-left: 5%;
  font-size: 40px;
  margin-top: 20px;
}

.mainpage-biomed p {
  display: none;
}

.bio-text {
  width: 100%;
  position: absolute;
  margin-top: 240px;
  margin-left: 2.5%;
  display: inline-flex;
}

.bio-text p {
  display: block;
  width: 58%;
  font-size: 17px;
}

.bio-text a {
  bottom: 0;
  margin-bottom: 20px;
  font-size: 18px;
  right: 27%;
  position: absolute;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.mainpage-content-sec2 {
  display: inline-flex;
  width: 100%;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px;
}

.mainpage-news {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(/photos/200kb/scientific-2040795_1280_200.webp);
  height: 490px;
  width: 50%;
  border-radius: 5px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.mainpage-news img {
  opacity: 0%;
  height: 0px;
  width: 0px;
}

.news-text {
  color: white;
  margin-left: 5%;
}

.news-text h3 {
  color: white;
  font-size: 33px;
}

.news-text p {
  width: 100%;
  font-size: 20px;
  color: white;
  font-style: italic;
}

.news-text a {
  margin-top: 150px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  font-family: 'Roboto Slab', serif;
}

.mainpage-location {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0)), url(/photos/200kb/exhibition-1863344_1920_200.webp);
  height: 490px;
  width: 27%;
  border-radius: 5px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  display: flex;
}

.mainpage-location img {
  opacity: 0%;
  height: 0px;
  width: 0px;
}

.location-text {
  margin-left: 5%;
}

.location-text h3 {
  color: black;
  font-size: 33px;
  width: 200px;
  font-family: 'Teko', sans-serif;
}

.location-text a {
  font-family: 'Roboto Slab', serif;
  margin-top: 260px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
}

.news-text a:hover {
  border-bottom: 2px solid white;
}

.location-text a:hover, .bio-text a:hover {
  border-bottom: 2px solid black;
}

@media (max-width: 1350px) { 
  .front-mainpage h1 {
    margin-left: 5%;
  }
  .content-explore {
    margin-left: 5%;
    margin-right: 0px;
  }
  .content-exhibitions {
    margin: 0px;
  }
  .content-visit {
    margin-right: 5%;
    margin-left: 0px;
  }
  .mainpage-biomed-content {
    margin-left: 5%;
    margin-right: 5%;
  }
  .mainpage-content-sec2 {
    margin-left: 5%;
    margin-right: 5%;
  }
  .mainpage-news {
    width: 56%;
  }
  .mainpage-location {
    width: 30%;
  }
  .bio-text a {
    right: 15%;
  }
}

@media (max-width: 1280px) { 
  .mainpage-content1 {
    overflow-x: scroll;
  }
}

@media (max-width: 975px) {

  .front-mainpage {
    height: 275px;
  } 

  .front-mainpage h1 {
    margin-top: 95px;
    font-size: 45px;
  }

  .mainpage-content1 {
    margin-top: 20px;
  }

  .content-visit a:hover, .content-exhibitions a:hover, .content-explore a:hover, .location-text a:hover, .news-text a:hover, .bio-text a:hover {
    border-bottom: 2px solid transparent;
  }

  .content-visit a, .content-exhibitions a, .content-explore a {
    font-size: 20px;
  }

  .mainpage-biomed p {
    display: block;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 87%;
    font-size: 13px;
  }

  .mainpage-biomed h3 {
    display: flex;
    justify-content: center;
    width: 87%;
    position: absolute;
    font-size: 33px;
    margin-left: 0px;
    margin-top: 30px;
  }

  .bio-text p {
    margin-top: 55px;
    width: 87%;
    font-size: 17px;
  }

  .bio-text a {
    display: none;
  }

  .mainpage-biomed span a img {
    width: 100%;
    border-radius: 5px;
    height: 500px;
    object-fit: cover;
  }
  
  .mainpage-content-sec2 {
    display: inline-flex;
    flex-direction: column;
  }
  .mainpage-news {
    width: 90%;
  }
  .mainpage-location {
    width: 90%;
    height: 250px;
  }
  .location-text a {
    margin-top: 50px;
    font-size: 22px;
  }
}

.front-about {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/200kb/museum-desktop_200.webp);
  display: block;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
} 

.front-about h1 {
  position: absolute;
  color: white;
  font-size: 65px;
  margin-left: 10%;
  margin-top: 220px;
}

.front-image img {
  opacity: 0%;
  height: 0px;
  width: 0px;
}

.front-about::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.about-goal {
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
  display: inline-flex;
  justify-content: space-between;
}

.goal-text {
  width: 100%;
  padding-right: 10%;
  max-width: 575px;
}

.goal-text h2 {
  font-size: 40px;
  font-family: 'Teko', sans-serif;
}

.goal-text p {
  font-size: 17px;
}

.about-goal img {
  max-height: 380px;
  width: 800px;
  object-fit: cover;
  border-radius: 5px;
}

.about-volunteers {
  background-color: #B5D9FB;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  margin-bottom: 75px;
}

.volunteers-text {
  margin-left: 2.5%;
  padding-top: 0.5%;
  padding-bottom: 2.5%;
}

.volunteers-text h2 {
  font-size: 30px;
}

.volunteers-text p {
  max-width: 900px;
  padding-right: 15px;
  margin-top: 0px;
  line-break: auto;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.volunteers-text a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.volunteers-text a span {
  font-weight: bolder;
}

.volunteers-text a:hover {
  border-bottom: 2px solid black;
}

.about-support {
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  margin-bottom: 75px;
}

.support-text {
  margin-left: 2.5%;
  padding-top: 0.5%;
  padding-bottom: 2.5%;
}

.support-text h2 {
  font-size: 30px;
}

.support-text p {
  max-width: 850px;
  margin-top: 0px;
  line-break: auto;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.support-text a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.support-text a span {
  font-weight: bolder;
}

.support-text a:hover {
  border-bottom: 2px solid black;
}

.about-intern {
  background-color: #B5D9FB;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  margin-bottom: 150px;
}

.intern-text {
  margin-left: 2.5%;
  padding-top: 0.5%;
  padding-bottom: 2.5%;
}

.intern-text h2 {
  font-size: 30px;
}

.intern-text p {
  max-width: 850px;
  padding-right: 15px;
  margin-top: 0px;
  line-break: auto;
  font-size: 20px;
}

.intern-text a {
  font-family: 'Roboto Slab', serif;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.intern-text a span {
  font-weight: bolder;
}

.intern-text a:hover {
  border-bottom: 2px solid black;
}

@media (max-width: 1100px) { 
  .goal-text {
    width: 500px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .about-goal img {
    margin-right: 10%;
    margin-left: 3%;
    width: 475px;
  }
}

@media (max-width: 975px) {
  .front-about {
    height: 275px;
  } 
  .front-about h1 {
    margin-top: 185px;
    font-size: 45px;
    margin-left: 5%;
  }
  .about-goal {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 600px;
  }
  .about-goal img {
    display: none;
  }
  .about-goal p {
    width: 85%;
  }
  .about-volunteers {
    border-radius: 0px;
    width: 100%;
    margin-left: 0px;
  }
  .volunteers-text {
    margin-left: 5%;
  }
  .volunteers-text p {
    font-size: 17px
  }
  .about-support {
    margin-left: 0px;
  }
  .support-text {
    margin-left: 5%;
  }
  .support-text p{
    font-size: 17px;
  }
  .about-intern {
    border-radius: 0px;
    width: 100%;
    margin-left: 0px;
  }
  .intern-text {
    margin-left: 5%;
  }
  .intern-text p{
    font-size: 17px;
  }
}

.front-contact {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/200kb/museum-desktop_200.webp);
  display: block;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
} 

.front-contact h1 {
  position: absolute;
  color: white;
  font-size: 65px;
  margin-left: 10%;
  margin-top: 220px;
}

.front-contact::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.contact-location {
  background-color: #B5D9FB;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  margin-bottom: 50px;
  width: 80%;
  margin-top: 50px;
  display: inline-flex;
  justify-content: space-between;
}

.contact-location-text {
  padding: 2%;
  margin-top: 40px;
  margin-left: 25px;
}

.contact-location-text h2 {
  margin: 0px;
  font-size: 2.2vw;
}

.contact-location-text p {
  font-size: 1.2vw;
  min-width: 170px;
}

.contact-location-text span {
  font-weight: bold;
}

.contact-location iframe {
  max-height: 380px;
  max-width: 700px;
  object-fit: cover;
  padding: 4%;
  border: none;
}

.contact-section {
  margin-left: 10%;
  margin-right: 10%;
  display: inline-flex;
  gap: 20px;
  width: 84%;
  margin-top: 50px;
}

.contact-section p {
  font-size: 16px;
  width: 100%;
}

.contact-section h3 {
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}

.contact-emailphone {
  background-color: #F6A6A6;
  border-radius: 5px;
  width: 28%;
  padding: 2.5%;
  text-align: center;
}

.contact-phone {
  margin-top: 30%;
}

.contact-socials {
  background-color: #F6A6A6;
  border-radius: 5px;
  width: 27%;
  padding: 2.5%;
  text-align: center;
}

.contact-socials h3 {
  margin-bottom: 15%;
}

.contact-socials p {
  margin-bottom: 10%;
}

.contact-socials a {
  color: black;
  text-decoration: none;
}

.contact-socials a:hover {
  border-bottom: 2px solid black;
}

.contact-openinghours {
  background-color: #FFE88C;
  border-radius: 5px;
  width: 22%;
  padding: 2.5%;
}

.openinghours-days-time {
  display: inline-flex;
  font-size: 20px;
}

.openinghours-days-time span {
  opacity: 60%;
}

.openinghours-days {
  margin-right: 15px;
}

.openinghours-time {
  width: 120px;
}

@media (max-width: 1145px) {
  .front-contact {
    height: 275px;
  } 
  .front-contact h1 {
    margin-top: 185px;
    font-size: 45px;
    margin-left: 5%;
  }
  .contact-location {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    flex-direction: column;
    text-align: center;
  }
  .contact-location-text h2 {
    font-size: 25px;
  }
    .contact-location-text p {
    font-size: 18px;
  }
  .contact-location iframe {
    align-self: center;
    max-height: 380px;
    max-width: 90%;
    object-fit: cover;
    padding: 4%;
    border: none;
  }
  .contact-section p {
    font-size: 18px;
  }
  .contact-section h3 {
    font-size: 24px;
    padding: 0px;
    padding-top: 2.5%;
    margin: 0px;
  }
  .contact-section {
    display: inline-flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }
  .contact-emailphone {
    background-color: #F6A6A6;
    border-radius: 0px;
    width: 100%;
    padding: 2.5%;
    text-align: center;
  }
  .contact-phone {
    margin-top: 10%;
  }
  .contact-socials {
    background-color: #F6A6A6;
    border-radius: 0px;
    width: 100%;
    padding: 2.5%;
    text-align: center;
  }
  .contact-socials h3 {
    margin-bottom: 5%;
  }
  .contact-openinghours {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FFE88C;
    border-radius: 5px;
    width: 85%;
    padding: 2.5%;
  }
}

.front-exhibitions {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/200kb/roberto-nickson-396152_200.webp);
  display: block;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
} 

.front-exhibitions h1 {
  position: absolute;
  color: white;
  font-size: 65px;
}

.front-exhibitions::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.exhibitions-sec1 {
  margin-top: 50px;
  margin-left: 8.5%;
  margin-right: 10%;
  width: 82.5%;
}

.exhibitions {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.exhibitions-box {
  width: 100%;
  position: relative;
  text-align: center;
  margin-inline: 5px;
}

.exhibitions-box a {
  text-decoration: none;
}

.exhibitions-box-text {
  width: 100%;
  position: absolute;
  color: white;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exhibitions-box-text h3 {
  font-size: 25px;
}

.exhibitions-box-text h3 span {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  backdrop-filter: blur(3px);
}

.exhibitions-box a img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform .2s;
}

.exhibitions-box a img:hover {
  transform: scale(1.1);
}

.exhibitions-sec2 {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

.exhibitions-sec2 h2 {
  font-size: 33px;
}

.exhibitions-biology {
  display: flex;
}

.exhibitions-biology span a img {
  width: 100%;
  border-radius: 5px;
  max-height: 409px;
  min-height: 375px;
  object-fit: cover;
}

.exhibition-biology-box {
  width: 100%;
  position: absolute;
  display: flex;
  color: black;
  text-decoration: none;
}

.exhibition-biology-box img {
  padding: 2%;
  border-radius: 25px;
  height: 325px;
  width: 45%;
  object-fit: cover;
  align-self: center;
}

.exhibition-biology-box-image {
  width: 100%;
}

.exhibition-biology-box-image img {
  width: 43%;
  height: 325px;
  border-radius: 5px;
}

.exhibitions-biology-text { 
  position: absolute;
  margin-left: 48%;
  width: 100%;
}

.exhibitions-biology-text h3 {
  font-size: 28px;
  position: absolute;
}

.exhibitions-biology-text p {
  width: 30%;
  margin-top: 265px;
  font-size: 16px;
  position: absolute;
}

.exhibitions-biology-text span {
  display: none;
  margin-top: 15px;
  margin-bottom: 0px;
}

.exhibitions-biology-text-button {
  display: none;
  color: white;
  text-decoration: none;
}

@media (max-width: 1500px) {
  .exhibitions-sec1 {
    overflow-x: scroll;
  }
  .exhibitions {
    overflow-y: hidden;
  }
}
@media (max-width: 1350px) { 
  .front-exhibitions {
    height: 275px;
  } 
  .front-exhibitions h1 {
    margin-top: 160px;
    font-size: 45px;
    margin-left: 5%;
    width: 300px;
  }
  .exhibitions-sec1 {
    margin-left: 4%;
    margin-right: 5%;
    width: 90%;
  }
  .exhibitions {
    gap: 15px;
  }
  .exhibitions-sec2 {
    margin-left: 5%;
    margin-right: 5%;
  }  
  .exhibitions-biology-text p {
    font-size: 14px;
    width: 40%;
  }
}
@media (max-width: 975px) {
  .exhibitions-sec1 {
    margin-top: 20px;
  }
  .exhibitions-box a img {
    width: 250px;
    height: 400px;
  }
  .exhibitions-sec2 h2 {
    display: none;
  }
  .exhibitions-sec2 {
    margin-top: 50px;
  }
  .exhibitions-biology span a img {
    display: none;
  }
  .exhibition-biology-box img {
    display: none;
  }
  .exhibitions-biology {
    display: block;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.900)), url(/photos/200kb/samuel-zeller-113381_200.webp);
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
  }
  .exhibition-biology-box {
    width: 100%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-flex;
    flex-direction: column;
  }
  .exhibitions-biology-text span {
    display: block;
    width: 80%;
    color: white;
  }
  .exhibitions-biology-text h3{
    margin-top: 40px;
    width: 80%;
    color: white;
  }
  .exhibitions-biology-text {
    margin-left: 0px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
  }
  .exhibitions-biology-text p {
    margin-top: 370px;
    color: white;
    font-size: 18px;
    width: 80%;
  }
  .exhibitions-biology-text-button {
    display: block;
    margin-top: 475px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20%;
  }
}

.accessibility {
  margin-top: 50px;
  background-color: #91C0EC;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accessibility-text {
  padding: 2%;
}

.accessibility-text h3 {
  font-size: 28px;
  margin-left: 5%;
}

.accessibility-text p {
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
}

.accessibility a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 99px;
  margin-top: 110px;
  margin-bottom: 110px;
  margin-right: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-size: 25px;
  min-width: 90px;
}

.accessibility a:hover {
  background-color: white;
  color: #91C0EC;
}

.front-biomed {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/200kb/lab-512503_1920_200.webp);
  display: block;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
}  

.front-biomed h1 {
  position: absolute;
  color: white;
  width: 400px;
}

.front-biomed::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.biomed-content {
  margin-top: 50px;
}

.biomed-c1 {
  border-radius: 5px;
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #F4757E;
}

.biomed-c1 div {
  display: inline-flex;
}

.biomed-c1 p {
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  padding-right: 5%;
  color: white;
  font-size: 17px;
}

.biomed-c1 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
}

.biomed-c2 {
  margin-top: 75px;
  border-radius: 5px;
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #244979;
}

.biomed-c2 div {
  display: inline-flex;
}

.biomed-textbox { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5%;
  padding-right: 5%;
  color: white;
  font-size: 20px;
}

.biomed-c2 img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
}

.biomed-c3 {
  margin-top: 75px;
  border-radius: 5px;
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #F4757E;
}

.biomed-c3 div {
  display: inline-flex;
}

.biomed-c3 p {
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  padding-right: 5%;
  color: white;
  font-size: 17px;
}

.biomed-c3 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 1350px) { 
  .front-biomed {
    height: 275px;
  } 
  .front-biomed h1 {
    margin-top: 160px;
    font-size: 45px;
    margin-left: 5%;
    width: 300px;
  }
  .biomed-c1 {
    margin-left: 5%;
    margin-right: 5%;
  }
  .biomed-c2 {
    margin-left: 5%;
    margin-right: 5%;
  }
  .biomed-c3 {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 975px) {
  .biomed-c1 {
    border-radius: 5px;
    height: 400px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.900)), url(/photos/200kb/samuel-zeller-113381_200.webp);
    background-position: center;
    background-size: cover;
  }
  .biomed-c1 span {
    display: flex;
  }
  .biomed-c1 p {
    position: absolute;
    margin-top: 285px;
    width: 85%;
  }
  .biomed-c1 img {
    opacity: 0;
  }
  .biomed-c2 img{
    display: none;
  }
  .biomed-textbox {
    margin-top: 15%;
  }
  .biomed-c3 {
    border-radius: 5px;
    height: 400px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.900)), url(/photos/200kb/genoa-956405_1920_200.webp);
    background-position: center;
    background-size: cover;
  }
  .biomed-c3 span {
    display: flex;
  }
  .biomed-c3 p {
    position: absolute;
    margin-top: 285px;
    width: 85%;
  }
  .biomed-c3 img {
    opacity: 0;
  }
}

.front-explore {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/200kb/luke-ellis-craven-400722_200.webp);
  display: block;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
} 

.front-explore h1 {
  position: absolute;
  color: white;
  font-size: 75px;
  margin-left: 10%;
  margin-top: 225px;
}

.front-explore::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.explore-sec1 {
  margin-top: 50px;
  width: 86%;
}

.explore-sec1 h2 {
  margin-left: 10%;
  font-size: 35px;
  font-weight: bolder;
}

.explorations {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.explore-box {
  display: flex;
  width: 100%;
  position: relative;
  text-align: center;
  margin-inline: 15px;
}

.explore-box a {
  text-decoration: none;
}

.explore-box-text {
  width: 100%;
  position: absolute;
  color: white;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.explore-box-text h3 {
  font-size: 25px;
}

.explore-box-text h3 span {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  backdrop-filter: blur(3px);
}

.explore-box a img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform .2s;
}

.explore-box a img:hover {
  transform: scale(1.1);
}

.explore-sec2 {
  margin-top: 100px;
}

.explore-sec2 h2 {
  margin-left: 10%;
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.explore-sec2 p {
  margin-left: 10%;
  font-size: 20px;
  margin-top: 0px;
}

.explore-sec2 span {
  font-weight: bold;
}

.explore-exhibitions {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 700px;
}

.explore-exhibitions p {
  position: absolute;
  color: white;
  font-size: 26px;
  margin-left: 4%;
  top: 0;
  margin-top: 515px;
}

.explore-exhibitions a {
  color: white;
  text-decoration: none;
}

.explore-exhibitions-box {
  background-image: url(/photos/200kb/mavis-cw-164128_200-1.webp);
  height: 600px;
  width: 80%;
  border-radius: 5px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.explore-exhibitions-box::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.808));
  border-radius: 5px;
}

.explore-exhibitions img {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.explore-exhibitions a:hover{
  border-bottom: 2px solid white;
}

@media (max-width: 1475px) {
  .explorations {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
  }
}

@media (max-width: 1350px) { 
  .front-explore {
    height: 275px;
  } 
  .front-explore h1 {
    margin-top: 180px;
    font-size: 45px;
    margin-left: 5%;
    width: 300px;
  }
  .explore-sec1 h2 {
    margin-left: 5%;
  }
  .explorations {
    margin-left: 5%;
    margin-right: 5%;
  }
  .explore-sec2 h2 {
    margin-left: 5%;
  }
  .explore-sec2 p {
    margin-left: 5%;
  }
  .explore-exhibitions {
    margin-left: 5%;
    margin-right: 5%;
  }
  .explore-exhibitions-box {
    width: 90%;
  }
  
}

@media (max-width: 975px) {

  .explore-sec1 h2 {
    font-size: 25px;
  }
  .explore-box a img {
    width: 275px;
    height: 450px;
  }
  .explore-sec2 {
    margin-top: 50px;
  }
  .explore-sec2 h2 {
    font-size: 25px;
  }
  .explore-sec2 p {
    font-size: 17px;
  }
  .explore-sec2 span {
    font-weight: bold;
    font-size: 21px;
  }
  .explore-exhibitions-box {
    height: 475px;
    width: 90%;
    text-align: center;
  }
  .explore-exhibitions-box p {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    font-size: 24px;
  }
  .explore-exhibitions {
    margin-bottom: 500px;
  }
}

.front-kids {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/200kb/samuel-zeller-158996_200.webp);
  display: block;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
}  

.front-kids h1 {
  position: absolute;
  color: white;
  font-size: 55px;
  margin-left: 10%;
  margin-top: 325px;
  width: 400px;
}

.front-kids::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.kids-textbox1 { 
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #F4757E;
  color: white;
  min-height: 170px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.kids-textbox1 p {
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: 17px;
  padding-top: 15px;
}

.kids-textbox1 a {
  position: absolute;
  color: white;
  text-decoration: none;
  display: flex;
  margin-left: 2.5%;
  font-weight: bold;
  font-size: 18px;
  width: 20%;
  margin-top: 130px;
  font-family: 'Roboto Slab', serif;
}

.kids-textbox1 a:hover {
  border-bottom: 2px solid white; 
}

.content-kids-sec1 {
  margin-top: 75px;
  display: inline-flex;
  flex-direction: column;
  gap: 75px;
}

.kids-mammoth {
  margin-left: 10%;
  margin-right: 10%;
  background-image: url(/photos/200kb/mammoth-1257288_1920_200.webp);
  height: 600px;
  width: 80%;
  border-radius: 5px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.kids-mammoth::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.808));
  border-radius: 5px;
}

.kids-mammoth img {
  opacity: 0%;
  height: 0px;
  width: 0px;
}

.kids-mammoth-textbox { 
  position: absolute;
  top: 1200px;
  color: white;
  font-size: 17px;
  margin-left: 2.5%;
  width: 400px;
}

.kids-mammoth-textbox span {
  font-weight: bolder;
}

.kids-textbox2 {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #F4757E;
  color: white;
  height: 325px;
  border-radius: 5px;
}

.kids-club { 
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.kids-club img {
  height: 300px;
  padding: 2.5%;
}

.kids-club p {
  font-size: 17px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.kids-club span {
  font-weight: bold;
}

.kids-textbox3 {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FCDD62;
  height: 325px;
  border-radius: 5px;
  margin-bottom: 75px;
}

.kids-holiday { 
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.kids-holiday img {
  height: 300px;
  width: 400px;
  padding: 2.5%;
  object-fit: cover;
}

.kids-holiday-textbox {
  color: black;
  height: 90%;
}

.kids-holiday p {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  margin-left: 1.5%;
  margin-right: 2.5%;
}

.kids-holiday span {
  margin-left: 1.5%;
  padding-right: 5%;
}

.kids-holiday-textbox a {
  text-decoration: none;
  display: flex;
  margin-top: 10%;
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #002F75;
  color: #002F75;
  border-radius: 99px;
  width: 80px;
  font-weight: bolder;
}

.kids-holiday-textbox a:hover {
  background-color: #002F75;
  color: white;
}

@media (max-width: 1350px) { 
  .front-kids {
    height: 275px;
  } 
  .front-kids h1 {
    margin-top: 180px;
    font-size: 45px;
    margin-left: 5%;
    width: 300px;
  }
  .content-kids-sec1 {
    margin-top: 50px;
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
  }
  .kids-textbox1 { 
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .kids-mammoth {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .kids-mammoth-textbox { 
    top: 1000px;
  }
  .kids-textbox2 {
    margin-left: 5%;
    margin-right: 5%;
  }
  .kids-textbox3 {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 975px) {
  .kids-textbox1 { 
    height: 250px;
    width: 90%;
  }
  .kids-textbox1 p {
    width: 90%;
  }
  .kids-textbox1 a {
    margin-top: 200px;
    width: 185px;
  }
  .kids-mammoth {
    margin-left: 0%;
    margin-right: 0%;
    height: 400px;
    width: 100%;
    border-radius: 0px;
  }
  .kids-mammoth::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.469), rgba(0, 0, 0, 0.887));
  }
  .kids-mammoth-textbox { 
    top: 750px;
  }
  .kids-mammoth-textbox p {
    margin-bottom: 170px;
  }
}
@media (max-width: 750px) {
  .kids-club {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
  }
  .kids-club p {
    margin-right: 10%;
  }
  .kids-club img {
    height: 170px;
    width: 90%;
    object-fit: cover;
  }

  .kids-textbox3 {
    height: 100%;
    margin-bottom: 0px;
  }

  .kids-holiday {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
  }
  .kids-holiday img {
    height: 170px;
    width: 90%;
  }
  .kids-holiday-textbox {
    margin-left: 2.5%;
    padding-bottom: 15px;
  }
  .kids-holiday-textbox a {
    display: none;
  }
}

.front-visit {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/200kb/museum-desktop_200.webp);
  display: block;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
} 

.front-visit h1 {
  position: absolute;
  color: white;
  font-size: 65px;
  margin-left: 10%;
  margin-top: 160px;
  width: 400px;
}

.front-visit h1 span {
  font-size: 80px;
  font-weight: bolder;
}

.front-visit::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.visit-textbox1 {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-flex;
  font-size: 20px;
}

.visit-textbox1 img {
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
}

.visit-textbox1-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 5%;
}

.visit-textbox1-text span {
  font-weight: bold;
}

.visit-textbox1-text a {
  text-decoration: none;
  display: flex;
  margin-top: 90px;
  color: black;
  font-weight: bolder;
  width: 195px;
  font-family: 'Roboto Slab', serif;
}

.visit-textbox1-text a:hover {
  border-bottom: 2px solid black;
}

.visit-textbox2 {
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #B5D9FB;
  border-radius: 5px;
  display: inline-flex;
  height: 500px;
  align-items: center;
}

.visit-textbox2-left {
  width: 45%;
}

.visit-textbox2-left h2 {
  padding-left: 5%;
  line-height: 0px;
  font-size: 30px;
  padding-top: 4%;
}

.visit-textbox2-left img {
  max-height: 375px;
  min-height: 275px;
  max-width: 500px;
  min-width: 440px;
  padding: 5%;
  border-radius: 5px;
}

.visit-textbox2-right {
  align-items: center;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 25%;
  margin-left: 0px;
}

.visit-textbox2-right span {
  margin-bottom: 25px;
  font-weight: bold;
}

.visit-textbox2-right iframe {
  height: 250px;
  width: 475px;
  border-radius: 5px;
  margin-left: 250px;
}

.visit-textbox3-hours {
  display: none;
}

.visit-textbox3 {
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #F6A6A6;
  border-radius: 5px;
  display: inline-flex;
  height: 425px;
}

.visit-textbox3 p {
  font-size: 17px;
}

.visit-textbox3-left {
  width: 50%;
}

.visit-textbox3-left h2 {
  padding-left: 5%;
  line-height: 0px;
  font-size: 30px;
  padding-top: 4%;
}

.visit-textbox3-left img {
  height: 300px;
  min-height: 300px;
  width: 90%;
  object-fit: cover;
  padding: 30px;
  border-radius: 5px;
  align-items: center;
}

.visit-textbox3-middle {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  width: 26%;
}

.visit-textbox3-time {
  margin-left: 5%;
  min-width: 125px;
}

.visit-textbox3-days {
  font-weight: bold;
}

.visit-textbox3-time span {
  opacity: 60%;
}

.visit-textbox3-right {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  width: 25%;
  margin-left: 2.5%;
}

.visit-textbox3-right-days {
  font-weight: bold;
}

.visit-textbox3-right-time {
  margin-left: 5%;
  min-width: 125px;
}

.visit-textbox4 {
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #B5D9FB;
  border-radius: 5px;
  display: inline-flex;
  height: 500px;
  align-items: center;
}

.visit-textbox4-left {
  width: 45%;
}

.visit-textbox4-left h2 {
  padding-left: 5%;
  line-height: 0px;
  font-size: 30px;
  padding-top: 4%;
}

.visit-textbox4-left img {
  height: 375px;
  width: 90%;
  object-fit: cover;
  padding: 5%;
  border-radius: 5px;
}

.visit-textbox4-right {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  width: 46%;
}

.visit-textbox4-right p span {
  font-weight: bold;
  font-size: 17px;
}

.visit-textbox4-right span {
  font-size: 16px;
  margin-bottom: 50px;
}

.visit-textbox4-right-buttons {
  display: inline-flex;
  gap: 25px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.visit-button1 {
  font-size: 25px;
  padding: 1%;
  background-color: #092A56;
  border-radius: 99px;
  border: solid 2px #092A56;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #B5D9FB;
}

.visit-button2 {
  border-radius: 99px;
  border: solid 2px #092A56;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #092A56;
}

.visit-button1:hover {
  color: #092A56;
  background-color: transparent;
}

.visit-button2:hover {
  background-color: #092A56;
  color: #B5D9FB;
}

.visit-content2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 75px;
  display: inline-flex;
  width: 80%;
 justify-content: space-between;
 gap: 10px;
}

.visit-yellowbox {
  background-color: #FCDD62;
  border-radius: 5px;
  width: 350px;
  height: 550px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.visit-yellowbox img {
  width: 300px;
  height: 205px;
  border-radius: 5%;
  object-fit: cover;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.visit-yellowbox h3 {
  font-size: 30px;
  margin-bottom: 0px;
}

.visit-yellowbox p {
  padding: 4%;
  font-size: 15px;
  margin: 0px;
}

@media (max-width: 1350px) { 
  .front-visit {
    height: 275px;
  } 
  .front-visit h1 {
    margin-top: 150px;
    font-size: 45px;
    margin-left: 5%;
    width: 300px;
  }
  .front-visit h1 span {
    font-size: 55px;
  }
  .visit-textbox1 {
    margin-left: 5%;
    margin-right: 5%;
  }
  .visit-textbox2 {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .visit-textbox3 {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .visit-textbox4 {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .visit-content2 {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
}

@media (max-width: 1150px) {
  .visit-textbox2 {
    height: 100%;
    text-align: center;
    margin-top: 50px;
    width: 90%;
    flex-direction: column;
  }
  
  .visit-textbox2-left {
    width: 100%;
  }
  
  .visit-textbox2-left h2 {
    padding-left: 0%;
    line-height: 0px;
    font-size: 25px;
  }
  
  .visit-textbox2-left img {
    display: none;
  }
  
  .visit-textbox2-right {
    align-items: center;
    margin-top: 0px;
    width: 100%;
  }
  
  .visit-textbox2-right span {
    font-weight: bold;
  }
  
  .visit-textbox2-right iframe {
    height: 250px;
    width: 90%;
    border-radius: 5px;
    margin-left: 0px;
    padding-bottom: 15px;
  }
  .visit-content2 {
    overflow-x: scroll;
  }
}

@media (max-width: 975px) {
  .front-visit h1 span {
    font-size: 55px;
    display: block;
  }
  .visit-textbox1 {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #F4757E;
    border-radius: 5px;
  }
  .visit-textbox1-text p {
    padding: 5px;
    margin-left: 2.5%;
  }
  .visit-textbox1 img {
    display: none;
  }
  .visit-textbox1-text .p2, .visit-textbox1-text .p3,  .visit-textbox1-text span {
    display: none;
  }
  .visit-textbox1-text a {
    display: none;
  }
  .visit-textbox3 {
    display: none;
  }
  .visit-textbox3-hours {
    margin-top: 50px;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
  }
  .visit-textbox4 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 440px;
  }
  .visit-textbox4-left h2 {
    padding-left: 5%;
    line-height: 0px;
    font-size: 30px;
    padding-top: 4%;
  }
  .visit-textbox4-left img {
    display: none;
  }
  .visit-textbox4-left {
    width: 100%;
  }
  .visit-textbox4-left h2 {
    padding-left: 0%;
    line-height: 0px;
    font-size: 30px;
    padding-top: 4%;
  }
  .visit-textbox4-right {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 85%;
  }
  .visit-textbox4-right-buttons {
    text-align: center;
    justify-content: center;
  }
  .visit-button1 {
    display: none;
  }
  .visit-button2 {
    border-radius: 99px;
    border: solid 2px white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
  }
  .visit-content2 {
    overflow-x: scroll;
  }
  .visit-yellowbox {
    height: 475px;
  }
  .visit-yellowbox img {
    width: 225px;
    height: 185px;
    padding-bottom: 15px;
  }
  .visit-yellowbox h3 {
    font-size: 25px;
  }
  .visit-yellowbox p {
    font-size: 18px;
  }
}

.front-news {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/200kb/library-1132573_1920_200.webp);
  display: block;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
} 

.front-news h1 {
  position: absolute;
  color: white;
  font-size: 65px;
  margin-left: 10%;
  margin-top: 160px;
  width: 250px;
}

.front-news h1 span {
  font-size: 80px;
  font-weight: bolder;
}

.front-news::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.news-content {
  margin-top: 75px;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

.news {
  background-color: #F6A6A6;
  border-radius: 5px;
  width: 550px;
  height: 600px;
  margin-right: 75px;
  margin-bottom: 75px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news img {
  width: 550px;
  height: 275px;
  border-radius: 5px;
  object-fit: cover;
}

.news h3 {
  font-size: 30px;
  text-align: center;
}

.news p {
  padding-left: 4%;
  padding-right: 4%;
  font-size: 17px;
}

.news span {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.news div {
  margin-top: 10px;
}

.news-2 {
  background-color: #F6A6A6;
  border-radius: 5px;
  width: 550px;
  height: 600px;
  margin-right: 15px;
  margin-bottom: 75px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news-2 img {
  width: 550px;
  height: 275px;
  border-radius: 5px;
  object-fit: cover;
}

.news-2 h3 {
  font-size: 30px;
  text-align: center;
}

.news-2 p {
  padding-left: 4%;
  padding-right: 4%;
  font-size: 20px;
}

.news-2 span {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.news-2 div {
  margin-top: 10px;
}

.news-openinghours {
  display: inline-flex;
  flex-direction: column;
  background-color: #FFE88C;
  border-radius: 5px;
  align-items: center;
  width: 275px;
  height: 590px;
  padding: 2.5%;
}

.news-openinghours-inline {
  display: inline-flex;
}

.news-openinghours h3 {
  margin-left: 4%;
  font-size: 25px;
}

.openinghours-days-time {
  margin-left: 4%;
}

.openinghours-days {
  font-weight: bold;
}

@media (max-width: 1350px) { 
  .front-news {
    height: 275px;
  } 
  .front-news h1 {
    margin-top: 120px;
    font-size: 45px;
    margin-left: 5%;
    width: 250px;
  }
  .front-news h1 span {
    font-size: 60px;
  }
  .news-content {
    margin-top: 50px;
    margin-left: 5%;
  }
}

@media (max-width: 1205px) {
  .news-content {
    justify-content: center;
    width: 90%;
  }

  .news {
    margin-right: 0px;
    margin-left: 0px;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
  }
  
  .news img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
  }
}

footer {
  background-color: #BD323C;
  width: 100%;
  left: 0px;
  bottom: 0px;
  margin-top: 125px;
}

.footer-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer-container h3 {
  font-size: 25px;
  line-height: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-container p {
  font-size: 18px;
}

.footer-container a {
  font-size: 18px;
}

.footer-openinghours {
  color: white;
  padding-left: 10%;
}

.footer-openinghours span {
  opacity: 60%;
}

.days-time {
  display: flex;
  padding-bottom: 20px;
}

.days {
  line-height: 10px;
}

.time {
  line-height: 10px;
  margin-left: 10px;
}

.aboutus {
  list-style: none;
}

.aboutus a {
  color: white;
  text-decoration: none;
}

.aboutus ol {
  margin: 0px;
  padding: 0px;
}

.aboutus ol li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 43px;
}

.aboutus ol li a {
  line-height: 10px;
}

.contactus {
  padding-right: 17%;
  list-style: none;
}

.contactus a {
  color: white;
  text-decoration: none;
}

.contactus ol {
  margin: 0px;
  padding: 0px;
}

.contactus li {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 43px;
}

.contactus li a {
  line-height: 10px;
}

.aboutus li a:hover, .contactus li a:hover {
  font-weight: bold;
}

.aboutus h3:hover, .contactus h3:hover {
  border-bottom: 3px solid white;
}

@media (max-width: 1350px) { 
  .footer-openinghours {
    padding-left: 5%;
  }
  .contactus {
    padding-right: 15%;
  }
}
@media (max-width: 975px) {
  .footer-openinghours {
    padding-left: 5%;
  }
  .contactus {
    padding-right: 10%;
  }
}
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .aboutus ol {
    display: none;
  }

  .contactus ol {
    display: none;
  }

  .contactus {
    padding-right: 0%;
    padding-bottom: 50px;
  }
}
@media (max-width: 1350px) {
  .accessibility {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 975px) {
  .accessibility {
    display: inline-flex;
    flex-direction: column;
  }
  .accessibility-text h3{
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
  }
  .accessibility-text p {
    text-align: left;
    width: 85%;
    margin-bottom: 0px;
  }
  .accessibility a {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 45px;
    margin-right: 0px;
    width: 22%;
    margin-left: 35%;
  }
  .news-openinghours-inline{
    width: 90%;
    justify-content: center;
  }
  .news-openinghours {
    height: 450px;
  }
}