
html {
  width: 100%;
}

body {
  background-image: url(/photos/background/background-pink.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}



.topnav {
  background-color: #092A56;
  overflow: hidden;
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  min-height: 90px;
  max-height: 90px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.topnav a.logo {
  width: 50px;
  margin-left: 10%;
  font-size: 25px;
}

.topnav a.logo span {
  font-weight: bolder;
}

.topnav ul li{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-top: 15px;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}

.topnav ul li.right {
  float: right; 
  margin-right: 10%;
}

.topnav ul .right a:hover {
  border-bottom: 3px solid white;
}

.topnav ul .right .active {
  border-bottom: 3px solid white;
}





.topnav-burgermenu {
  display: none;
}

.navmenu {
  display: none;
  }
#hamburger-menu {
  display: none;
}









.front {
  margin-top: 90px;
  position: relative;
  background-image: url(/photos/museum-desktop.jpg);
  display: block;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
} 

h1 {
  position: absolute;
  color: white;
  font-size: 55px;
  width: 50px;
  margin-left: 10%;
  margin-top: 250px;
}

h1 span {
  font-weight: bolder;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.front::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.mainpage-content1 {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 69px;
}

.content-explore {
  background-color: #FFE88C;
  border-radius: 5px;
  height: 445px;
  margin-left: 10%;
  margin-right: 10px;
  min-width: 390px;
  max-width: 390px;
}

.content-explore img {
  padding-top: 25px;
  padding-left: 25px;
  width: 340px;
  height: 212px;
  background-size: cover;
}

.content-explore p {
  margin-left: 25px;
  margin-right: 10px;
  font-size: 18px;
}

.content-exhibitions {
  background-color: #B5D9FB;
  border-radius: 5px;
  height: 445px;
  margin-top: 45px;
  min-width: 390px;
  max-width: 390px;
  margin-right: 10px;
}

.content-explore a {
  position: absolute;
  top: 1050px;
  color: black;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
}

.content-exhibitions {
  margin-bottom: 45px;
  width: 390px;
  margin-top: 0px;
}

.content-exhibitions img {
  padding-top: 25px;
  padding-left: 25px;
  width: 340px;
  height: 212px;
  background-size: cover;
}

.content-exhibitions p {
  margin-left: 25px;
  margin-right: 10px;
  font-size: 18px;
}

.content-exhibitions a {
  position: absolute;
  top: 1050px;
  color: black;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
}

.content-visit {
  background-color: #F4757E;
  border-radius: 5px;
  height: 445px;
  min-width: 390px;
  max-width: 390px;
  margin-right: 10%;
  margin-left: 10px;
  margin-top: 0px;
}

.content-visit img {
  padding-top: 25px;
  padding-left: 25px;
  width: 340px;
  height: 212px;
  object-fit: cover;
}

.content-visit p {
  margin-left: 25px;
  margin-right: 10px;
  font-size: 18px;
}

.content-visit span {
  font-weight: bold;
}

.content-visit a {
  position: absolute;
  top: 1050px;
  color: black;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
}

.content-visit a:hover, .content-exhibitions a:hover, .content-explore a:hover {
  border-bottom: 2px solid black;
}

.mainpage-content2 {
  width: 100%;
  margin-bottom: 69px;
  margin-top: 69px;
}

.mainpage-biomed {
  display: flex;
}

.mainpage-biomed span {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainpage-biomed span a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainpage-biomed span a img {
  width: 80%;
  border-radius: 5px;
  max-height: 409px;
  min-height: 350px;
  object-fit: cover;
}

.mainpage-biomed h3 {
  position: absolute;
  margin-left: 13%;
  font-size: 33px;
  margin-top: 20px;
}

.bio-text {
  width: 100%;
  position: absolute;
  margin-top: 240px;
  margin-left: 13%;
  display: inline-flex;
}

.bio-text p {
  width: 690px;
  font-size: 20px;
}

.bio-text a {
  bottom: 0;
  margin-bottom: 20px;
  font-size: 18px;
  right: 27%;
  position: absolute;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.bio-text a:hover {
  border-bottom: 2px solid black;
}

.mainpage-content-sec2 {
  display: inline-flex;
  justify-content: space-between;
  gap: 69px;
  width: 100%;
  margin-top: 50px;
  margin-left: 10%;
}

.mainpage-news {
  display: flex;
  margin-right: 6%;
}

.mainpage-news span {
  display: flex;
}

.mainpage-news span a img {
  max-height: 490px;
  min-height: 490px;
  width: 135%;
  border-radius: 5px;
  object-fit: cover;
}

.news-text {
  position: absolute;
  margin-right: 0px;
  top: 1600px;
  margin-left: 2.5%;
}

.news-text h3 {
  color: white;
  font-size: 33px;
}

.news-text p {
  width: 100%;
  font-size: 20px;
  color: white;
}

.news-text a {
  top: 165%;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
}

.mainpage-location {
  display: flex;
  margin-right: 10%;
  margin-left: 5%;
}

.mainpage-location span {
  display: flex;
  height: 490px;
  max-width: 76%;
}

.mainpage-location span a img {
  height: 490px;
  max-width: 100%;
  border-radius: 5px;
  object-fit: cover;
}


.location-text {
  position: absolute;
  margin-left: 2.5%;
  width: 110px;
}

.location-text h3 {
  font-size: 33px;
  width: 300px;
}

.location-text a {
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  margin-top: 280px;
}

.news-text a:hover {
  border-bottom: 2px solid white;
}

.location-text a:hover {
  border-bottom: 2px solid black;
}















footer {
  background-color: #D75760;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer-container h3 {
  font-size: 25px;
  line-height: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.openinghours {
  color: white;
  padding-left: 10%;
}

.openinghours span {
  opacity: 60%;
}

.days-time {
  display: flex;
  padding-bottom: 20px;
}

.days {
  line-height: 10px;
}

.time {
  line-height: 10px;
  margin-left: 10px;
}

.aboutus {
  list-style: none;
}

.aboutus a {
  color: white;
  text-decoration: none;
}

.aboutus li {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 43px;
}

.aboutus li a {
  line-height: 10px;
}

.contactus {
  padding-right: 17%;
  list-style: none;
}

.contactus a {
  color: white;
  text-decoration: none;
}

.contactus li {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 43px;
}

.contactus li a {
  line-height: 10px;
}

.aboutus li a:hover, .contactus li a:hover {
  font-weight: bold;
}

.aboutus h3:hover, .contactus h3:hover {
  border-bottom: 3px solid white;
}




