.front-visit {
  position: relative;
  background-image: url(/photos/200kb/museum-desktop_200.webp);
  display: block;
  height: clamp(250px, 50vw, 500px);    
  width: 100%;
  background-size: cover;
  background-position: 50% 100%;
} 

.front-visit h1 {
  position: absolute;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;  
  top: 0;
  color: white;
  font-size: clamp(45px, calc(4vw + 1.8vh), 85px);  
  width: 400px;
  margin-left: 10%;
}

.front-image img {
  opacity: 0%;
  height: 0px;
  width: 0px;
}

.front-visit h1 span {
  font-size: clamp(40px, calc(4vw + 3vh), 80px);  
  font-weight: bolder;
}

.front-visit::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.visit-content {
  margin-left: 10%;
  margin-right: 10%;
}

.visit-content1 {
  width: 100%;
}

.visit-textbox1 {
  margin-top: 50px;
  width: 100%;
  display: inline-flex;
  font-size: clamp(14px, calc(1vw + 0.7vh), 20px);          
}

.visit-textbox1 img {
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
}

.visit-textbox1-text {
  font-family: 'Roboto Slab', serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 5%;

  font-size: clamp(12px, calc(0.9vw + 0.9vh), 20px);          

  span {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    display: flex;
    margin-top: 90px;
    color: black;
    font-weight: bolder;
    width: 220px;
    font-family: 'Roboto Slab', serif;
  }
}


.visit-textbox1 img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: right;
}

.visit-textbox1-text:hover {

  a {
    display: flex;
    color: black;
    border-bottom: solid 2px rgb(0, 0, 0);
    align-items: end;
    width: 45%;
    transition: 0.35s;
    margin-bottom: -2px;
  }
}

.visit-textbox2 {
  margin-top: 50px;
  width: 100%;  
  background-color: #B5D9FB;
  border-radius: 5px;
  display: inline-flex;
  height: 500px;
  align-items: center;

  .visit-textbox2-left {
    width: 47%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    h2 {
      font-size: clamp(20px, calc(0.9vw + 2vh), 30px);          
      height: 100px;
      margin-bottom: -4%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    img {
      margin-top: 10px;
      height: 375px;
      width: 90%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  
  .visit-textbox2-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(12px, calc(0.9vw + 0.9vh), 20px);          
    width: 25%;
    margin-left: 0px;
    height: 450px;

    .textbox2-text {
      margin-top: 50px;
    }
  
    span {
      font-weight: bold;
    }
  
    iframe {
      height: 250px;
      width: 180%;
      border-radius: 5px;
    }
  }
}

.visit-openinghours {
  background-color: #FFE88C;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 2.5%;
  margin-top: 75px;

  h3 {
    font-size: clamp(20px, calc(0.9vw + 0.9vh), 25px);          
  }

  .openinghours-days-time {
    display: flex;
    flex-direction: row;
    font-size: clamp(12px, calc(0.9vw + 0.9vh), 20px);          
  }
  
  .openinghours-days-time span {
    opacity: 60%;
    text-decoration: line-through;
  }
  
  .openinghours-days {
    margin-right: 15px;
  }
  
  .openinghours-time {
    min-width: 100%;
  }
}

.visit-textbox3 {
  margin-top: 50px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 400px;
  align-items: center;
  background-color: #F6A6A6;

  p {
    font-size: clamp(12px, calc(0.9vw + 0.9vh), 20px);          
  }

  .visit-textbox3-left {
    width: 47%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    h2 {
      line-height: 0px;
      font-size: clamp(20px, calc(0.9vw + 2vh), 30px);          
      padding-top: 4%;
      width: 100%;
      min-width: 100%;
    }
  
    img {
      margin-top: 10px;
      height: 70%;
      width: 94%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .textbox3-week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -75px;
    height: 95%;
  }

  .weekday {
    margin-top: 75px;
    margin-left:6%;
    display: flex;
    flex-direction: row;
    font-size: clamp(9px, calc(2.5vw + 0.9vh), 20px);          
    width: 26%;
  
    .weekday-time {
      margin-left: 7%;
      min-width: 125px;
  
      span {
        opacity: 60%;
        text-decoration: line-through;
      }
    }
    
    .weekday-days {
      font-weight: bold;
  
      span {
        opacity: 60%;
        text-decoration: line-through;
      }
    }
  
  }

  .weekend {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: clamp(9px, calc(2.5vw + 0.9vh), 20px);          
    margin-left: 50px;
  
    .weekend-days {
      font-weight: bold;
    }
    
    .weekend-time {
      margin-left: 5%;
      min-width: 125px;
    }
  }
}

.visit-textbox4 {
  margin-top: 50px;
  width: 100%;
  background-color: #B5D9FB;
  border-radius: 5px;
  display: inline-flex;
  height: 500px;
  align-items: center;

  .visit-textbox4-left {
    width: 47%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    img {
      margin-top: 10px;
      height: 375px;
      width: 90%;
      object-fit: cover;
      border-radius: 5px;
    }
  
    h2 {
      font-size: clamp(22px, calc(1vw + 0.7vh), 30px);          
      height: 100px;
      margin-bottom: -4%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .visit-textbox4-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(9px, calc(1vw + 0.7vh), 17px);          
    width: 46%;
    margin-top: 50px;
    height: 80%;
  
    span {
      font-weight: bold;
      font-size: clamp(9px, calc(1vw + 0.7vh), 17px);          
    }
  
    .buttons {
      display: inline-flex;
      gap: 25px;
      height: 25px;
      margin-bottom: 10px;
      text-align: center;
      align-items: center;
    }
  
    .visit-button1 {
      font-size: clamp(15px, calc(1vw + 0.7vh), 25px);          
      padding: 1%;
      background-color: #092A56;
      border-radius: 99px;
      border: solid 2px #092A56;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      color: #ffffff;
  
      &:hover {
        background-color: #ffffff;
        border: solid 2px #ffffff;
        color: #092A56;
        font-weight: bold;
        padding-left: 5.5px;
        padding-right: 5.5px;
      }
    }
    
    .visit-button2 {
      border-radius: 99px;
      border: solid 2px #092A56;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
      font-size: clamp(13px, calc(1vw + 0.7vh), 20px);          
      text-decoration: none;
      color: #092A56;
  
      &:hover {
        background-color: #C74C55;
        border: solid 2px #C74C55;
        color: #B5D9FB;
        color: white;
      }
    }
    
  }
}

.visit-content2 {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.visit-yellowbox {
  background-color: #FCDD62;
  border-radius: 5px;
  height: calc(2.5vw + 475px);  
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.visit-yellowbox img {
  width: 90%;
  height: 205px;
  border-radius: 5%;
  object-fit: cover;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.visit-yellowbox h3 {
  font-size: clamp(19px, calc(1vw + 0.7vh), 25px);          
  margin-bottom: 0px;
}

.visit-yellowbox p {
  padding: 4%;
  font-size: clamp(9px, calc(1vw + 0.7vh), 15px);          
  margin: 0px;
}


@media (max-width: 900px) {

  .visit-textbox3 {
    display: none;
  }

  .visit-openinghours {
    display: flex;
  }

  .visit-textbox4 {
    display: flex;
    flex-direction: column;
  
    .visit-textbox4-left {
      width: 100%;
      height: 25%;
      margin: 0px;
      margin-bottom: 0px;
      padding: 0px;
      padding-bottom: 0%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
      img {
        display: none;
      }
    
      h2 {
        height: 100%;
      }
    }
  
    .visit-textbox4-right {
      margin-top: 0px;
      padding-top: 0px;
      height: 100%;
      justify-content: flex-start;
  
      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        height: 100%;
        margin-bottom: 10px;
        text-align: center;
        align-items: center;
      }
      
    }
  }

  .visit-yellowbox {
    height: 100%;  
    min-height: 250px;
  }

  .visit-yellowbox img {
    display: none;
  }

}