@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@100;200;300;400;500;900&display=swap');

p {
    font-family: 'Roboto Slab', serif;
  }

  h1 {
    font-family: 'Teko', sans-serif;
  }
  
  h2 {
    font-family: 'Teko', sans-serif;
  }
  
  h3 {
    font-family: 'Teko', sans-serif;
  }
  
  html {
    width: 100%;
  } 
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FFEDED; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #092a5694;
    border-radius: 10px;
    border: 3px solid #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #092A56;
  }

  .body-pink {
    background-image: url(/photos/background/background-pink.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
  }

.front-visit {
  position: relative;
  background-image: url(/photos/200kb/museum-desktop_200.webp);
  display: block;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
} 

.front-visit h1 {
  position: absolute;
  color: white;
  font-size: 65px;
  margin-left: 10%;
  margin-top: 150px;
  width: 300px;
}

.front-image img {
  opacity: 0%;
  height: 0px;
  width: 0px;
}

.front-visit h1 span {
  font-size: 80px;
  font-weight: bolder;
}

.front-visit::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.048), rgba(0,0,0,0.65));
}

.visit-textbox1 {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-flex;
  font-size: clamp(14px, calc(1vw + 0.7vh), 20px);          
}

.visit-textbox1 img {
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
}

.visit-textbox1-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 5%;
}

.visit-textbox1-text span {
  font-weight: bold;
}

.visit-textbox1-text a {
  text-decoration: none;
  display: flex;
  margin-top: 90px;
  color: black;
  font-weight: bolder;
  width: 220px;
  font-family: 'Roboto Slab', serif;
}

.visit-textbox1 img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: right;
}

.visit-textbox1-text a:hover {
  border-bottom: 2px solid black;
}

.visit-textbox2 {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #B5D9FB;
  border-radius: 5px;
  display: inline-flex;
  height: 500px;
  align-items: center;

  .visit-textbox2-left {
    width: 47%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    h2 {
      font-size: 30px;
      height: 100px;
      margin-bottom: -4%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    img {
      margin-top: 10px;
      height: 375px;
      width: 90%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  
  .visit-textbox2-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    width: 25%;
    margin-left: 0px;
    height: 450px;

    .textbox2-text {
      margin-top: 50px;
    }
  
    span {
      font-weight: bold;
    }
  
    iframe {
      height: 250px;
      width: 180%;
      border-radius: 5px;
    }
  }
}

.visit-textbox3-hours {
  display: none;
}

.visit-textbox3 {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-radius: 5px;
  display: inline-flex;
  height: 400px;
  align-items: center;
  background-color: #F6A6A6;

  p {
    font-size: 17px;
  }

  .visit-textbox3-left {
    width: 47%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    h2 {
      line-height: 0px;
      font-size: 30px;
      padding-top: 4%;
      width: 100%;
    }
  
    img {
      margin-top: 10px;
      height: 70%;
      width: 94%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .textbox3-week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -75px;
    height: 95%;
  }

  .weekday {
    margin-top: 75px;
    margin-left:6%;
    display: flex;
    flex-direction: row;
    font-size: clamp(9px, calc(2.5vw + 0.9vh), 20px);          
    width: 26%;
  
    .weekday-time {
      margin-left: 7%;
      min-width: 125px;
  
      span {
        opacity: 60%;
        text-decoration: line-through;
      }
    }
    
    .weekday-days {
      font-weight: bold;
  
      span {
        opacity: 60%;
        text-decoration: line-through;
      }
    }
  
  }

  .weekend {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: clamp(9px, calc(2.5vw + 0.9vh), 20px);          
    margin-left: 50px;
  
    .weekend-days {
      font-weight: bold;
    }
    
    .weekend-time {
      margin-left: 5%;
      min-width: 125px;
    }
  }
}

.visit-textbox4 {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #B5D9FB;
  border-radius: 5px;
  display: inline-flex;
  height: 500px;
  align-items: center;

  .visit-textbox4-left {
    width: 47%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    img {
      margin-top: 10px;
      height: 375px;
      width: 90%;
      object-fit: cover;
      border-radius: 5px;
    }
  
    h2 {
      font-size: 30px;
      height: 100px;
      margin-bottom: -4%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .visit-textbox4-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(9px, calc(1vw + 0.7vh), 17px);          
    width: 46%;
    margin-top: 50px;
    height: 80%;
  
    span {
      font-weight: bold;
      font-size: clamp(9px, calc(1vw + 0.7vh), 17px);          
    }
  
    .buttons {
      display: inline-flex;
      gap: 25px;
      height: 25px;
      margin-bottom: 10px;
      text-align: center;
      align-items: center;
    }
  
    .visit-button1 {
      font-size: clamp(15px, calc(1vw + 0.7vh), 25px);          
      padding: 1%;
      background-color: #092A56;
      border-radius: 99px;
      border: solid 2px #092A56;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      color: #ffffff;
  
      &:hover {
        background-color: #ffffff;
        border: solid 2px #ffffff;
        color: #092A56;
        font-weight: bold;
        padding-left: 5.5px;
        padding-right: 5.5px;
      }
    }
    
    .visit-button2 {
      border-radius: 99px;
      border: solid 2px #092A56;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
      font-size: clamp(13px, calc(1vw + 0.7vh), 20px);          
      text-decoration: none;
      color: #092A56;
  
      &:hover {
        background-color: #C74C55;
        border: solid 2px #C74C55;
        color: #B5D9FB;
        color: white;
      }
    }
    
  }
}


.visit-content2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 75px;
  display: inline-flex;
  width: 80%;
 justify-content: space-between;
 gap: 10px;
}

.visit-yellowbox {
  background-color: #FCDD62;
  border-radius: 5px;
  height: calc(2.5vw + 475px);  
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.visit-yellowbox img {
  width: 90%;
  height: 205px;
  border-radius: 5%;
  object-fit: cover;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.visit-yellowbox h3 {
  font-size: 30px;
  margin-bottom: 0px;
}

.visit-yellowbox p {
  padding: 4%;
  font-size: 15px;
  margin: 0px;
}